<!DOCTYPE html>
<html>
<body>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="meta tag in the web document">
    <meta name="keywords" content="HTML,CSS">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<p>Branch</p>
<form>
    <input type="password" id="CSE" name="Branch" value="CSE" >
    <label for="CSE">Enter password</label> <br>
    <input type="password" name="Branch" value="IT" >
    <label for="CSE">Re-enter password</label>
</form>
</body>
</html>