<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <title>Регистрация</title>
</head>
<body>
Регистрация
<form action="/registration" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><label> Confirm password: <input type="password" name="password"/> </label></div>
    <div><label> Role: <input type="text" name="role"/> </label></div>
    <div><input type="submit" value="Зарегистрироваться"/></div>
</form>
</body>
</html>